/* CSS styles for the PetZone website */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #003366;
    background-color: #f7f7f7;
  }
  
  /* Header styles */
  header {
    background-color: #003366;
    color: #fff;
    padding: 20px;
  }
  
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Section styles */
  section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  address {
    margin-bottom: 10px;
  }
  
  /* Footer styles */
  footer {
    background-color: #b2d4ea;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
  