
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #003366;
  background-color: #f7f7f7;
}
.logo {
  top: 10px;
  left: 10px;
  height: 60px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  
  padding: 20px;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 10px;
}

/*nav {
  background-color: #b2d4ea;
  padding: 10px 0;
  text-align: center;
}*/

nav {

  height: 60px;
  color: #fff;
  width: 70%;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 20;
  margin: 0;
  height: 100%;
  align-items: center;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

.nav-links a:hover {
  color: #ce1e1e;
}
.headerdiv{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #003366;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
}

footer {
  background-color: #003366;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #b2d4ea;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #fff;
}
